body{
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    background: green;
    background-image: url(../images/popup.gif) ;
    }

h1{
   color: #ffffff;
    }

p{
    color: #000000;
    }


a{
    color: #ffffff;
    }

img{
    width: 100%;
    }


#box1 {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  background: #000000;
  margin-top: 30%;
  padding: 50px;
  border-radius: 4px;
}


/* This is the logo link clickable area */
#logo-zone {
position: absolute;
top: 70px;
left: 50%;
height: 100px;
width: 240px;
background-color: transparent;
}
